* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    text-shadow: black 3px 3px 1px;
    font-family: sans-serif;
}

.image img {
    max-width: 100%;
    object-fit: cover;
}

.flex-container {
    background-image: url("blue.jpg");
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1200px;
    padding: 15px;
    border: 3px solid black;
    margin: 50px auto;
    gap: 10px;
}

.box {
    width: 100%;
    padding: 10px;
    border: 3px solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    gap: 10px;
}

.box .name {
    display: none;
    text-align: center;
    font-size: 25px;
}

.box .poke {
    display: none;
}

.box .type {
    display: none;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px 0;
    order: 2;
    width: 50%;
    height: 10%;
}

.type.normal {
    background-color: #9fa19f;
}

.type.fairy {
    background-color: #ef70ef;
}

.type.psychic {
    background-color: #ef4179;
}

.type.fighting {
    background-color: #ff8000;
}

.type.bug {
    background-color: #91a119;
}

.type.poison {
    background-color: #9141cb;
}

.type.flying {
    background-color: #81b9ef;
}

.type.ghost {
    background-color: #704170;
}

.type.fire {
    background-color: #ff8000;
}

.type.electric {
    background-color: #f0e68c;
}

#poke1 {
    background-color: rgb(223, 192, 20);
}

#poke2 {
    background-color: rgb(247, 203, 154);
}

#poke3 {
    background-color: rgb(240, 210, 145);
}

#poke4 {
    background-color: rgb(226, 181, 224);
}

#poke5 {
    background-color: rgb(90, 67, 224);
}

#poke6 {
    background-color: rgb(119, 224, 250);
}

#poke7 {
    background-color: rgb(55, 170, 116);
}

#poke8 {
    background-color: rgb(224, 228, 207);
}

#poke9 {
    background-color: rgb(211, 194, 45);
}

#poke10 {
    background-color: rgb(47, 70, 170);
}

#poke11 {
    background-color: rgb(202, 190, 135);
}

#poke12 {
    background-color: rgb(194, 96, 51);
}

@media (max-width: 1500px) {
    .flex-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 1150px) {
    .flex-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 941px) {
    .flex-container {
        grid-template-columns: 1fr; 
        align-items: flex-start;
    }
    .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .box .name {
        display: block;
        text-align: center;
        flex-grow: 1;
    }
    .box .image img {
        width: 75px;
        height: auto;
    }

    .box .poke {
        display: block;
        width: 50px;
        height: 50px;
        order: 1;
    }
    .box:hover {
        transition: all 0.3s ease;
        background-image: url("pokebg.png") !important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translate(0px, -8px);
        transition: 0.2s;
    }
}

@media (max-width: 480px) {
    .box {
        flex-direction: column;
        width: 100%;
    }
    .box .type {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 5px 0;
    }
    .box .poke {
        display: none;
    }
    .box .image img {
        width: 200px; 
    }
    .box .image {
        order: 0;
        
    }
    .box .name {
        order: 1;
    }
    .box:hover {
        background-image: url("background.png") !important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translate(0px, -8px);
        transition: 0.2s;
    }
}
